.App {
  padding: 2rem 0;
}

.search {
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
}

.search-result {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px 10px;
}

.search-result p {
  text-align: center;
}

input {
  max-width: 890px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px #f1ecec solid;
  background-color: #efefef;
  width: 100%;
}

img {
  border-radius: 1rem;
  width: 300px;
  height: 300px;
}
